body{

}

#leftPane{

}


#rightPane{
    
}




/* TODO */
ul.colour-picker li {
    position: relative;
    display: block;
    float: left;
    height: 54px;
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul.colour-picker li[data-colour="teal"] {
    background: #2B9;
}
ul.colour-picker li[data-colour="green"] {
    background: #3C7;
}
ul.colour-picker li[data-colour="yellow"] {
    background: #EC1;
}
ul.colour-picker li[data-colour="orange"] {
    background: #E82;
}
ul.colour-picker li[data-colour="red"] {
    background: #E54;
}
ul.colour-picker li[data-colour="blue"] {
    background: #39D;
}
ul.colour-picker li[data-colour="dark-blue"] {
    background: #345;
}
ul.colour-picker li[data-colour="white"] {
    background: #FFF;
}
ul.colour-picker li.active:before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
    content: "";
}

@-webkit-keyframes pulse {
    0% {
        background-color: #CCC;
    }
    25% {
        background-color: #EEE;
    }
    50% {
        background-color: #CCC;
    }
    75% {
        background-color: #EEE;
    }
    100% {
        background-color: #CCC;
    }
}
.scroll-page .loading {
    margin: 12px auto;
    border: 8px solid #AAA;
    height: 16px;
    width: 16px;
    background: #CCC;
    border-radius: 16px;
    -webkit-animation: pulse 2s ease-in-out 0s infinite;
}